
<div class="col-xs-6 col-md-4"  id="project-preview-<%= project.id%>">
  <div class="card card-project card-project-preview" >
    <h4 class="card-title"><%= project.title %></h4>
    <p class="card-text">
      <a href="#">click to add a description</a>
    </p>
    <p>date created:</p>
    <p>last test run:</p>
    <br/>
    <footer>
      <p>

      <div class="btn btn-open">
        <a href="<%= edit_project_path(project)%>">
          <div class="glyphicon glyphicon-folder-open"></div>
        </a>
      </div>

      <div class="btn btn-play" >
        <a href="<%= edit_project_path(project)%>">
          <div class="glyphicon glyphicon-play"></div>
        </a>
      </div>
      <div class="btn btn-remove" onclick="delete_project(<%= project.id %>)">
        <!--button_to "delete", project, :method => :delete, remote: true -->
        <div class="glyphicon glyphicon-remove"></div>
      </div>
      </p>
    </footer>
  </div>
</div>


