<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-md-3 no-float" style="padding-top: 15px; background-color: lightgrey">
	    <div class="profile-sidebar card">
		    <div class="center-box">	    
			    <%= image_tag @user.avatar.url(:thumb), :class => 'circular--square--large' %>
                    </div>
        <h2 style="color: #f3f3f3;"><%= @user.username %></h2>
        <h2 style="color: #f3f3f3;"><%= @user.email %></h2>

          <ul class="nav nav-pills nav-stacked" >
            <li role="presentation">
              <a href= "#" id="show_projects">
                <h4>My Projects</h4>
              </a>
            </li>
            <li role="presentation">
              <a href= "#" id="show_followers">
                <h4>Followers</h4>
              </a>
            </li>
            <li role="presentation">
              <a href= "#" id="show_following">
                <h4>Following</h4>
              </a>
            </li>
            <li role="presentation">
              <a href= "#" id="search_for_users">
                <h4>Search For Users</h4>
              </a>
            </li>
          </ul>
      </div>
    </div>

    <div class="col-md-6 no-float" id="preview-container" >
      <div class="no-float" id="search_container">
      </div>

      <h2 id="preview-header" class="panel-header" style="padding-left: 15px;" ><strong></strong></h2>
      <div id="preview-body" style="height: 100%; overflow-y: scroll; border-radius: 15px; padding: 15px;"></div>
    </div>
      <div class="col-md-3 no-float" style="background-color: lightgrey; text-align: center;">
        <h2 style="color: #333; position: fixed; margin-bottom: 2em; margin-left: 2.5em; "> Active Projects</h2>
        <div class="profile-active-projects">
          <div class="running_projects">
            <%= render partial: 'profiles/running_project', collection: @user.running_projects, as: 'project' %>
          </div>
        </div>

      </div>
  </div>
</div>


