<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="navbar-profile" class="col-md-3 no-float" style="padding-top: 15px;">
        <div class="col-lg-2">
          <div class="card" style="box-shadow: 5px 5px 5px 5px; align-content: center; width: 170px; background-color: white;">
            <%= image_tag @user.avatar.url(:thumb), :class => 'circular--square', :align => 'middle' %>
            <br/>
            <h2><strong> <%= @user.username %> </strong> </h2>
            <strong> Member Since <%= @user.created_at %>
            <strong> Last Sign In: <%= @user.last_sign_in_at.strftime("%m/%d/Y") %>
          </div>
        </div>
	<div class="col-lg-6"> 
        <ul class="nav navbar-nav" >
          <li role="presentation">
	  <a href= "#" id="show_peer_projects" onclick= "displayPeerProjects(<%=@user.id %>)">
              <h4>Projects</h4>
            </a>
          </li>
          <li role="presentation">
            <a href= "#" id="show_peer_followers">
              <h4>Followers</h4>
            </a>
          </li>
          <li role="presentation">
            <a href= "#" id="show_peer_following">
              <h4>Following</h4>
            </a>
          </li>
        </ul>
        </div>


    </div>
      <div id="preview-container" class="col-md-6 no-float">
        <div class="no-float" id="search_container">
        </div>

        <h2 id="preview-header" class="panel-header" style="padding-left: 15px;" ><strong></strong></h2>
        <div id="preview-body" style="height: 400px; overflow-y: scroll; border-radius: 15px; padding: 15px;"></div>
      </div>

    </div>
  </div>

</div>
</div>




