<div class="col-md-12" >
  <div class="card-user-search" >
      <!--<div class="card-block">-->
        <div class="card-title">
          <div class="row">
            <div class="col-sm-6">
              <%= image_tag src=user.avatar.url, :class => 'img-thumbnail', :alt => 'Avatar' %>
            </div>
            <div class="col-sm-6"> 
              <h3 style="text-overflow: ellipsis;"><%= user.username %></h3>
              <br/>
               <strong>Member Since: <%= user.confirmed_at.to_datetime.strftime("%m/%d/%Y") %></strong>
               <br/>
            </div>
          </div>
          <div class="card-footer" style="align-text: center; padding-top: 5px; padding-bottom: 5px;">
            <% if(@user != nil && @user.is_following(user.id)) %>
              <button id="follow_button_<%=user.id%>" class="btn btn-danger" onclick = unfollow(<%= user.id.to_s %>) >unfollow <div class="glyphicon glyphicon-minus-sign"> </div></button>
            <% else %>
              <button id="follow_button_<%=user.id%>" class="btn btn-success" onclick = follow(<%= user.id.to_s %>) >follow <div class="glyphicon glyphicon-plus"> </div></button>
            <% end %>
            <a href="/profile/<%=user.id%>">
	      <button id="view_profile" class="btn btn-primary" > view profile </button>
            </a>
          </div>

        </div>
      </div>
    </div>
 


