
<% default_zip = "UEsDBBQDAAAAAPhcdkkAAAAAAAAAAAAAAAAIAAAAZGVmYXVsdC9QSwMEFAMAAAgA+Fx2SUINDm8hAAAAJAAAABQAAABkZWZhdWx0L2MrKyBmaWxlLmNwcMvMK1HITczM0wAxEovSk3UUkjMSi7RA7LLoWE2Faq5aAFBLAQI/AxQDAAAAAPhcdkkAAAAAAAAAAAAAAAAIACQAAAAAAAAAEIDtQQAAAABkZWZhdWx0LwoAIAAAAAAAAQAYAADyVc3vRNIBgEijge9E0gEA8lXN70TSAVBLAQI/AxQDAAAIAPhcdklCDQ5vIQAAACQAAAAUACQAAAAAAAAAIICkgSYAAABkZWZhdWx0L2MrKyBmaWxlLmNwcAoAIAAAAAAAAQAYAADyVc3vRNIBAPJVze9E0gEA8lXN70TSAVBLBQYAAAAAAgACAMAAAAB5AAAAAAA="
%>

<!-- Start form for submission -->
<%= form_for(project, remote: true) do |f| %>
  <% if project.errors.any? %>
    <div hidden id="error_explanation">
      <h2 hidden><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul hidden>
      <% project.errors.full_messages.each do |message| %>
        <li hidden><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div hidden class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div hidden class="field">
    <%= f.label :input %>
    <%= f.text_field :input, value: @encoded_zip%>
  </div>

  <div hidden class="field">
    <%= f.label :eta %>
    <%= f.text_field :eta %>
  </div>

  <div hidden class="actions">
  <div class="field">
    <%= f.label :code %>
    <%= f.file_field(:code) %>
  </div>

<% end %>

<!-- End form for submission -->

<!-- Start page body -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="dist/js/bootstrap-select.js"></script>

 <!-- Body -->
<div class="height100 row container-fluid">

  <!-- Header -->
  <div class="header-container row">
    <div class="lightskyblue height100">
    </div>
  </div>

  <!-- Center -->
  <div class="center-container row">

    <!-- Sidebar -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 height100">

      <!-- Project Selection -->
      <div class="project-selection-container row">
        <div class="gray height100">
        </div>
      </div>

      <!-- Files -->
      <div class="file-list-container row">
        <div class="lgray height100">
        </div>
      </div>
    </div>

    <!-- Main -->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 height100">

      <!-- Top -->
      <div class="tool-selection-container row">
        <div class="centered lgray height100">
          <select class="col-xs-10 col-sm-10 col-md-10 col-lg-10 tool-select selectpicker">
            <option>Smack</option>
            <option>Boogie</option>
          </select>
          <button class="btn btn-primary tool-select-button">?</button>
        </div>
      </div>

      <!-- Middle -->
      <div class="middle lgray row">

        <!-- Left -->
        <div class="editor-container col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div id="editor1">
<pre>/* Hello World program */

#include<stdio.h>

main()
{
    printf("Hello World");

}</pre>
        </div>
        </div>

        <!-- Right -->
        <div class="editor-container col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
          <div id="editor2">
		<pre></pre>
        </div>
	</div>
      </div>

      <!-- Bottom -->
      <div class="bottom-container yellow row">

        <!-- Bottom Left -->
        <div class="gray col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
          <select multiple class="col-xs-10 col-sm-10 col-md-10 col-lg-10 options-select selectpicker" data-live-search="true">
            <option value="volvo">Option 1</option>
            <option value="saab">Option 2</option>
          </select>
          <button class="btn btn-primary run-button">Run</button>
        </div>
        
        <!-- Bottom Right -->
        <div class="lgray col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
        </div>
      </div>
    </div>

<div>

<!-- End page body -->

<!-- Start scripts -->

<!-- Ace -->
<script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor1");
    editor.setTheme("ace/theme/cloud");
    editor.session.setMode("ace/mode/c_cpp");

    var editor2 = ace.edit("editor2");
    editor2.setTheme("ace/theme/twilight");
    editor2.session.setMode("ace/mode/c_cpp");
</script>

<!-- Bootstrap -->
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>

<!-- End scripts -->
