<div hidden>
  <%= text_area_tag :project_output, @output %>
</div>

<div id="top-row" class="lgray flex-row h-form-row flex-align-center">
  <div class="flex-col-md-2 flex-col-sm-4">
    <%= render "title_form" %>
  </div>

  <div class="flex-col-md-5 flex-col-md-nogrow flex-col-sm-grow flex-col-sm-6">
    <select class="flex-col-xs-12" id="service-selector">
      <!--THE VALUE OF THESE OPTIONS MUST MATCH THE ASSOCIATED CONFIG FILE NAME IN /PUBLIC/CONFIG/-->
      <option value="smack-options">Smack</option>
      <option value="boogie-options">Boogie</option>
    </select>
  </div>
  <div class="flex-col-md-1">
    <button id="start-tutorial-btn" class="btn btn-primary project-btn">Tutorial</button>
  </div>
</div>

<div class="main-container flex-row">
    <!-- Sidebar -->
    <div id="sidebar" class="flex-col-sm-4 flex-col-md-2 gray">
      <!-- Files -->
      <div id="upload-project-container"
           title="Upload a zip file containing your source code">
        <div class="field white-color">
          <%= label_tag :input_upload, "Upload Project" %>
          <%= file_field_tag :input_upload, accept: ".zip, application/zip", 
              class: 'white-color' %>
          <span id="input_upload_status"></span>
        </div>
      </div>

      <div id="file-list">
      </div>
      <div hidden>
        <%= render "file_tree_form" %>
      </div>

    </div>

    <!-- Main -->
    <div class="flex-col-sm-8 flex-col-md-10">

      <!-- Middle -->
      <div id="editors-row" class="flex-row flex-wrap flex-align-stretch lgray">

        <!-- Left -->
        <div class="editor-container flex-col-sm-12 flex-col-md-6">
          <div id="inputEditor">
          </div>
        </div>

        <!-- Right -->
        <div class="editor-container flex-col-sm-12 flex-col-md-6">
          <div id="outputEditor">
          </div>
        </div>
      </div>

      <!-- Bottom -->
      <%= render "options_and_run_row" %>
    </div>
</div>

</div>

<!-- End page body -->
<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8">
</script>
