<div hidden>
  <%= text_area_tag :project_output, @output %>
</div>

<div id="top-row" class="lgray flex-row h-form-row flex-align-center">
  <div class="flex-col-md-2 flex-col-sm-4">
    <%= render "title_form" %>
  </div>

  <div id="output-status" class="flex-col-sm-8 flex-col-md-10">
    <label> Status:
    </label>
    <input type="text" value="Not Yet Verified" class="form-control flex-col-xs-10"/>
  </div>
</div>

<div class="main-container flex-row">
    <!-- Sidebar -->
    <div id="sidebar" class="flex-col-sm-4 flex-col-md-2 gray">
      <!-- Files -->
      <div id="upload-project-container"
           title="Upload a zip file containing your source code">
        <div class="field white-color">
          <%= label_tag :input_upload, "Upload Project" %>
          <%= file_field_tag :input_upload, accept: ".zip, application/zip", 
              class: 'white-color' %>
          <span id="input_upload_status"></span>
        </div>
      </div>

      <div id="file-list">
      </div>
      <div hidden>
        <%= render "file_tree_form" %>
      </div>

    </div>

    <!-- Main -->
    <div class="flex-col-sm-8 flex-col-md-10">

      <!-- Middle -->
      <div id="editors-row" class="lgray output-shrunk">

        <!-- Left -->
        <div id="input-editor-container" class="editor-container">
          <div id="inputEditor" class="ace-editor">
          </div>

          <!--
          <div id="verify-status-box">
            <span class="right-side">
              <span id="verify-status-header">Success!</span>
              <p>No errors found.</p>
            </span>
            <div id="verify-status-icon-box" class="success">
              <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div id="verify-status-close-icon">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
          -->
        </div>

          <div id="collapse-output-btn">
            <span id="collapse-output-text"></span>
          </div>

        <!-- Right -->
        <div id="output-editor-container" class="editor-container">

          <div id="outputEditor" class="ace-editor">
          </div>
        </div>

      </div>

      <!-- Bottom -->
      <%= render "options_and_run_row" %>
    </div>
</div>

</div>

<!-- End page body -->
<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8">
</script>
