<div hidden>
  <%= text_area_tag :output, @output %>
</div>

<div id="top-row" class="lgray row">
  <div class="col-md-2 col-sm-12">
    <%= form_for project, remote: true, html: {id: 'project-title-form'} do |f| %>
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    <% end %>
  </div>

  <div class="col-md-5 col-sm-10">
    <select class="col-md-12" id="service-selector">
      <!--THE VALUE OF THESE OPTIONS MUST MATCH THE ASSOCIATED CONFIG FILE NAME IN /PUBLIC/CONFIG/-->
      <option value="smack-options">Smack</option>
      <option value="boogie-options">Boogie</option>
    </select>
  </div>
  <div class="col-md-5 col-sm-2">
    <div>
      <button class="btn btn-primary tool-select-button">?</button>
    </div>
  </div>
</div>
<div class="main-container row container-fluid">

    <!-- Sidebar -->
    <div id="sidebar" class="col-sm-4 col-md-2 col-lg-2 height100 gray">

      <!-- Files -->
      <div id="upload-project-container">
        <div class="field white-color">
          <%= label_tag :input_upload, "Upload Project" %>
          <%= file_field_tag :input_upload, accept: ".zip, application/zip", 
                             class: 'white-color' %>
          <span id="input_upload_status"></span>
        </div>
      </div>

      <div id="file-list">
      </div>

    </div>

    <!-- Main -->
    <div class="col-sm-8 col-md-10 col-lg-10 height100">

      <!-- Middle -->
      <div id="editors-row" class="middle lgray row">

        <!-- Left -->
        <div class="editor-container col-sm-12 col-md-6 col-lg-6 responsive-height100">
          <div id="editor1">
          </div>
        </div>

        <!-- Right -->
        <div class="editor-container col-sm-12 col-md-6 col-lg-6 responsive-height100">
          <div id="editor2">
          </div>
        </div>
      </div>

      <!-- Bottom -->
      <div id="options-and-run-row" class="bottom-container lgray row">
        <!-- Bottom Left -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">

          <%= form_for(project, remote: true, format: :json, 
                       html: {id: "run-project-form"}) do |f| %>

              <!--Placeholder for options menu-->
              <div class="btn-group" id="optionsMenu">
                <button data-toggle="dropdown" class="btn dropdown-toggle">Options <span class="caret"></span></button>
              </div>

            <div hidden>
              <%= f.text_field :input, value: @base64_input%>
            </div>
          <% end %>
          <button id="run_project" class="btn btn-default btn-primary run-button">Run</button>
        </div>

        <!-- Bottom Right -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
        </div>
      </div>
    </div>

</div>

<!-- End page body -->
<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<%
  splitOptionsString = [];
  if !@project[:service_options].nil?
    splitOptionsString = @project[:service_options].split()
  end

  # Generate hidden options menu for each config file that will be pulled into
  # the shown options menu when the service type is changed.
  require 'json'
  option_config_files = %w[smack-options.json boogie-options.json]
  option_config_files.each do |file|
    json = File.read('public/config/' + file)
    json = JSON.parse(json)
    id = 1%>
      <div class='hidden' id='<%=file[0..file.index('.json')-1]%>'>
        <button data-toggle="dropdown" class="btn dropdown-toggle"
                data-placeholder='false'>Options <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu pull-top noclose" role="menu">

          <h6 class="dropdown-header">Integer Options</h6>
          <%json['Integer Options'].each do |option|
              index = splitOptionsString.find_index('--'+option['name'])
              if index.nil?
                value = option['default']
              else
                value = splitOptionsString[index + 1]
              end
          %>
              <li><label><%=option['name']%>
                <input type="number" name="<%=option['name']%>" value="<%=value%>" min="<%=option['min']%>"
                       max="<%=option['max']%>" step="1"/></label></li>
            <%id+=1
            end%>

          <h6 class="dropdown-header">String Options</h6>
          <%json['String Options'].each do |option|
              index = splitOptionsString.find_index('--'+option['name'])
              if index.nil?
                value = option['default']
              else
                value = splitOptionsString[index + 1]
              end
          %>
              <li><label><%=option['name']%>
                <input type="text" name="<%=option['name']%>" value="<%=value%>"/></label></li>
          <%id+=1
            end%>

          <h6 class="dropdown-header">Boolean Options</h6>
          <%json['Boolean Options'].each do |option|
              index = splitOptionsString.find_index('--'+option['name'])
              if index.nil?
                checked = ''
              else
                checked = 'checked'
              end
          %>
              <li>
                <input name='<%=option['name']%>' <%=checked%> type='checkbox' id='<%=id%>'/>
                <label for='<%=id%>' ><%=option['name']%></label>
              </li>
          <%
              id+=1
            end
          %>

          <%json['Group Options'].each do |group|
              index = splitOptionsString.find_index('--'+group['name'])
              if !index.nil?
                value = splitOptionsString[index + 1]
              end
          %>
              <h1 class="dropdown-header"><%=group['name']%></h1>
              <%group['options'].each do |option|
                  if (index.nil? and option['default']) or (!index.nil? and option['name'] == value)%>
                        <li><input type="radio" id="<%=id%>" name="<%=group['name']%>" value="<%=option['name']%>" checked >
                          <label for="<%=id%>"><%=option['name']%></label></li>
                    <%else%>
                        <li><input type="radio" id="<%=id%>" name="<%=group['name']%>" value="<%=option['name']%>">
                          <label for="<%=id%>"><%=option['name']%></label></li>
                  <%
                  end
                  id += 1
              end%>
          <%end%>
        </ul>
      </div>
<%end%>