<div hidden>
  <%= text_area_tag :output, @output %>
</div>

<div id="top-row" class="lgray row">
  <div class="col-md-2 col-sm-12">
    <%= form_for project, remote: true, html: {id: 'project-title-form'} do |f| %>
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    <% end %>
  </div>

  <div class="col-md-5 col-sm-10">
    <select class="selectpicker col-md-12">
      <option>Smack</option>
      <option>Boogie</option>
    </select>
  </div>
  <div class="col-md-5 col-sm-2">
    <div>
      <button class="btn btn-primary tool-select-button">?</button>
    </div>
  </div>
</div>
<div class="main-container row container-fluid">

    <!-- Sidebar -->
    <div id="sidebar" class="col-sm-4 col-md-2 col-lg-2 height100 gray">


      <!-- Files -->
      <div id="upload-project-container">
        <div class="field white-color">
          <%= label_tag :input_upload, "Upload Project" %>
          <%= file_field_tag :input_upload, accept: ".zip, application/zip", 
                             class: 'white-color' %>
          <span id="input_upload_status"></span>
        </div>
      </div>

      <div id="file-list">
      </div>

    </div>

    <!-- Main -->
    <div class="col-sm-8 col-md-10 col-lg-10 height100">

      <!-- Middle -->
      <div id="editors-row" class="middle lgray row">

        <!-- Left -->
        <div class="editor-container col-sm-12 col-md-6 col-lg-6 responsive-height100">
          <div id="editor1">
          </div>
        </div>

        <!-- Right -->
        <div class="editor-container col-sm-12 col-md-6 col-lg-6 responsive-height100">
          <div id="editor2">
          </div>
        </div>
      </div>

      <!-- Bottom -->
      <div id="options-and-run-row" class="bottom-container lgray row">
        <!-- Bottom Left -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
          <select multiple class="col-xs-10 col-sm-10 col-md-10 col-lg-10 options-select selectpicker" data-live-search="true">
            <option value="volvo">Option 1</option>
            <option value="saab">Option 2</option>
          </select>

          <%= form_for(project, remote: true, format: :json, 
                       html: {id: "run-project-form"}) do |f| %>
            <div hidden>
              <%= f.text_field :input, value: @base64_input%>
            </div>
          <% end %>
          <button id="run_project" class="btn btn-default btn-primary run-button">Run</button>
        </div>

        <!-- Bottom Right -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
        </div>
      </div>
    </div>

<div>

<!-- End page body -->

<script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>
