<div hidden>
  <%= text_area_tag :output, @output %>
</div>


<!-- End form for submission -->

<!-- Start page body -->

 <!-- Body -->
<div class="height100 row container-fluid">

  <!-- Header -->
  <div class="header-container row">
    <div class="lightskyblue height100">
    </div>
  </div>

  <!-- Center -->
  <div class="center-container row">

    <!-- Sidebar -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 height100">

      <!-- Project Selection -->
<!--       <div class="project-selection-container row">
        <div class="blue col-xs-12 col-sm-12 col-md-12 col-lg-12 height100">
        </div>
      </div> -->

      <!-- Files -->
      <div id="file-list-container" class="height100 file-list-container row">
        <div id="file-list" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 gray height100">
          <!-- Start form for submission -->
<div class="field white-color">
  <%= label_tag :input_upload, "Upload Project" %>
  <%= file_field_tag :input_upload, accept: ".zip, application/zip", class: 'white-color' %>
  <span id="input_upload_status"></span>
</div>
        </div>
      </div>
    </div>

    <!-- Main -->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 height100">

      <!-- Top -->
      <div class="tool-selection-container row">
        <div class="centered lgray height100">
          <select class="col-xs-10 col-sm-10 col-md-10 col-lg-10 tool-select selectpicker">
            <option>Smack</option>
            <option>Boogie</option>
          </select>
          <button class="btn btn-primary tool-select-button">?</button>
        </div>
      </div>

      <!-- Middle -->
      <div class="middle lgray row">

        <!-- Left -->
        <div class="editor-container col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div id="editor1">
            <!--
<pre>/* Hello World program */

#include<stdio.h>

main()
{
    printf("Hello World");

}</pre>
-->
        </div>
        </div>

        <!-- Right -->
        <div class="editor-container col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
          <div id="editor2">
		<pre></pre>
        </div>
	</div>
      </div>

      <!-- Bottom -->
      <div class="bottom-container yellow row">

        <!-- Bottom Left -->
        <div class="lgray col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
          <select multiple class="col-xs-10 col-sm-10 col-md-10 col-lg-10 options-select selectpicker" data-live-search="true">
            <option value="volvo">Option 1</option>
            <option value="saab">Option 2</option>
          </select>
            <!-- <div class="actions"> -->
<%= form_for(project, remote: true, format: :js) do |f| %>
  <div hidden>
    <%= f.text_field :title %>
    <%= f.text_field :input, value: @base64_input%>
    <%= f.text_field :eta %>
  </div>
<% end %>
  <button id="run_project" class="btn btn-default btn-primary run-button">Run</button>
        </div>
        
        <!-- Bottom Right -->
        <div class="lgray col-xs-6 col-sm-6 col-md-6 col-lg-6 height100">
        </div>
      </div>
    </div>

<div>

<!-- End page body -->

<!-- Start scripts -->

<script>
    var editor = ace.edit("editor1");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/c_cpp");

    var editor2 = ace.edit("editor2");
    editor2.setTheme("ace/theme/twilight");
    editor2.session.setMode("ace/mode/c_cpp");
</script>

<!-- End scripts -->
