<% default_zip = "UEsDBBQDAAAAAPhcdkkAAAAAAAAAAAAAAAAIAAAAZGVmYXVsdC9QSwMEFAMAAAgA+Fx2SUINDm8hAAAAJAAAABQAAABkZWZhdWx0L2MrKyBmaWxlLmNwcMvMK1HITczM0wAxEovSk3UUkjMSi7RA7LLoWE2Faq5aAFBLAQI/AxQDAAAAAPhcdkkAAAAAAAAAAAAAAAAIACQAAAAAAAAAEIDtQQAAAABkZWZhdWx0LwoAIAAAAAAAAQAYAADyVc3vRNIBgEijge9E0gEA8lXN70TSAVBLAQI/AxQDAAAIAPhcdklCDQ5vIQAAACQAAAAUACQAAAAAAAAAIICkgSYAAABkZWZhdWx0L2MrKyBmaWxlLmNwcAoAIAAAAAAAAQAYAADyVc3vRNIBAPJVze9E0gEA8lXN70TSAVBLBQYAAAAAAgACAMAAAAB5AAAAAAA="
%>

<%= form_for(project, remote: true) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :input %>
    <%= f.text_field :input, value: default_zip %>
  </div>

  <div class="field">
    <%= f.label :output %>
    <%= f.text_field :output %>
  </div>

  <div class="field">
    <%= f.label :eta %>
    <%= f.text_field :eta %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.file_field(:code) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
