<% projects = get_top_projects %>
<% users = get_top_users %>

<div hidden>
  <%= text_area_tag :output, @output %>
</div>

<!-- Start page body -->

 <!-- Body -->
<div class="community-main-container row container-fluid height100">

  <!-- Center -->
  <div class="height100 community-center-container row">

    <!-- Main -->
    <div id="community-main-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 height100 lgray">

      <div id="community-content-container">
      <h1>Recently Created Users</h1>
      <hr />

      <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <% if users[0] %>
                <%= image_tag users[0].avatar.url(:medium), :class => "img-fluid rounded-circle top-users-avatar" %>
                <h4><%= users[0].username %></h4>
                <div class="text-muted"><%= users[0].email %></div>
              <% end %>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <% if users[1] %>
                <%= image_tag users[1].avatar.url(:medium), :class => "img-fluid rounded-circle top-users-avatar" %>
                <h4><%= users[1].username %></h4>
                <span class="text-muted"><%= users[1].email %></span>
              <% end %>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <% if users[2] %>
                <%= image_tag users[2].avatar.url(:medium), :class => "img-fluid rounded-circle top-users-avatar" %>
                <h4><%= users[2].username %></h4>
                <span class="text-muted"><%= users[2].email %></span>
              <% end %>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <% if users[3] %>
                <%= image_tag users[3].avatar.url(:medium), :class => "img-fluid rounded-circle top-users-avatar" %>
                <h4><%= users[3].username %></h4>
                <span class="text-muted"><%= users[3].email %></span>
              <% end %>
            </div>
          </section>

          <h2>Most Recent Projects</h2>
          <hr />

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th>State</th>
                  <th>Runtime</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/projects/<%= projects[0].id %>/edit"><%= projects[0].id %></a></td>
                  <td><a href="/projects/<%= projects[0].id %>/edit"><%= projects[0].title %></a></td>
                  <td><%= projects[0].created_at %></td>
                  <td><%= projects[0].updated_at %></td>
                  <td><%= projects[0].state %></td>
                  <td><%= projects[0].runtime %></td>
                </tr>
               <tr>
                  <td><a href="/projects/<%= projects[1].id %>/edit"><%= projects[1].id %></a></td>
                  </a>
                  <td><a href="/projects/<%= projects[1].id %>/edit"><%= projects[1].title %></a></td>
                  <td><%= projects[1].created_at %></td>
                  <td><%= projects[1].updated_at %></td>
                  <td><%= projects[1].state %></td>
                  <td><%= projects[1].runtime %></td>
                </tr>
                <tr>
                  <td><a href="/projects/<%= projects[2].id %>/edit"><%= projects[2].id %></a></td>
                  <td><a href="/projects/<%= projects[2].id %>/edit"><%= projects[2].title %></a></td>
                  <td><%= projects[2].created_at %></td>
                  <td><%= projects[2].updated_at %></td>
                  <td><%= projects[2].state %></td>
                  <td><%= projects[2].runtime %></td>
                </tr>
               <tr>
                  <td><a href="/projects/<%= projects[3].id %>/edit"><%= projects[3].id %></a></td>
                  <td><a href="/projects/<%= projects[3].id %>/edit"><%= projects[3].title %></a></td>
                  <td><%= projects[3].created_at %></td>
                  <td><%= projects[3].updated_at %></td>
                  <td><%= projects[3].state %></td>
                  <td><%= projects[3].runtime %></td>
                </tr>
                <tr>
                  <td><a href="/projects/<%= projects[4].id %>/edit"><%= projects[4].id %></a></td>
                  <td><a href="/projects/<%= projects[4].id %>/edit"><%= projects[4].title %></a></td>
                  <td><%= projects[4].created_at %></td>
                  <td><%= projects[4].updated_at %></td>
                  <td><%= projects[4].state %></td>
                  <td><%= projects[4].runtime %></td>
                </tr>
               <tr>
                  <td><a href="/projects/<%= projects[5].id %>/edit"><%= projects[5].id %></a></td>
                  <td><a href="/projects/<%= projects[5].id %>/edit"><%= projects[5].title %></a></td>
                  <td><%= projects[5].created_at %></td>
                  <td><%= projects[5].updated_at %></td>
                  <td><%= projects[5].state %></td>
                  <td><%= projects[5].runtime %></td>
                </tr>
                <tr>
                  <td><a href="/projects/<%= projects[6].id %>/edit"><%= projects[6].id %></a></td>
                  <td><a href="/projects/<%= projects[6].id %>/edit"><%= projects[6].title %></a></td>
                  <td><%= projects[6].created_at %></td>
                  <td><%= projects[6].updated_at %></td>
                  <td><%= projects[6].state %></td>
                  <td><%= projects[6].runtime %></td>
                </tr>
               <tr>
                  <td><a href="/projects/<%= projects[7].id %>/edit"><%= projects[7].id %></a></td>
                  <td><a href="/projects/<%= projects[7].id %>/edit"><%= projects[7].title %></a></td>
                  <td><%= projects[7].created_at %></td>
                  <td><%= projects[7].updated_at %></td>
                  <td><%= projects[7].state %></td>
                  <td><%= projects[7].runtime %></td>
                </tr>
                <tr>
                  <td><a href="/projects/<%= projects[8].id %>/edit"><%= projects[8].id %></a></td>
                  <td><a href="/projects/<%= projects[8].id %>/edit"><%= projects[8].title %></a></td>
                  <td><%= projects[8].created_at %></td>
                  <td><%= projects[8].updated_at %></td>
                  <td><%= projects[8].state %></td>
                  <td><%= projects[8].runtime %></td>
                </tr>
               <tr>
                  <td><a href="/projects/<%= projects[9].id %>/edit"><%= projects[9].id %></a></td>
                  <td><a href="/projects/<%= projects[9].id %>/edit"><%= projects[9].title %></a></td>
                  <td><%= projects[9].created_at %></td>
                  <td><%= projects[9].updated_at %></td>
                  <td><%= projects[9].state %></td>
                  <td><%= projects[9].runtime %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
</div>
